@import './design.css';
@import './header.css';

/* Cards layout */
.card-grid{
      display: grid;
      justify-content: center;
      gap: var(--spacing-s);
      grid-template-columns: repeat(2,1fr);
      width: fit-content;
      margin: auto;
}

/* Card design */
.card{
      background-color: var(--secondary-color);
      width: fit-content;
      border-radius: 1rem;
}
.card:hover{
      cursor: pointer;
      opacity: 0.8;
}
.card-img{
      border-radius: 1rem 1rem 0 0;
      max-width: 30rem;
      max-height: 25rem;
      object-fit: cover;
}
.card-content{
      padding: 1rem 2rem;
}
.card-title{
      font-size: 1.8rem;      
      font-weight: bold;
      padding-bottom: 0.7rem;
}
.card-text{
      font-size: 1.4rem;
      color: var(--light-text-color);
      line-height: 1.2;
}

@media only screen and (max-width:650px){
      .card-grid{
            grid-template-columns: 1fr;
      }
}