.question-container{
      width: fit-content;
      min-width: 50rem;
      max-width: 50%;
      margin: auto;
      font-size: 1.6rem;
}

.question-header{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      padding: var(--spacing-s) 0;
}
.question-number{
      text-align: left;
}
.quiz-score{
      text-align: right;
}
.question-number-text,.quiz-score-text{
      color: var(--light-text-color);
}
.question-text{
      text-align: left;
      padding: var(--spacing-xs) 0;
      line-height: 1.5;
}

.options{
      display: grid;
      grid-template-columns: 1fr;
}
.option{
      padding: 1.6rem;
      background-color: var(--secondary-color);
      margin: var(--spacing-s) 0;
      border-radius: 2rem;
}
.option:hover{
      cursor: pointer;
      background-color: var(--primary-shadow-color);
}
.option.correct{
      background-color: var(--correct-answer-color);
}
.option.incorrect{
      background-color: var(--incorrect-answer-color);
}
.option.disabled{
      opacity: 0.5;
}
.option.disabled:hover{
      cursor: not-allowed;
      background-color: var(--secondary-color);
}

.question-footer{
      text-align: right;
}